@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

.titulo {
    color: #0a30f1;
    font-family: "MuseoModerno";
    font-size: 117.3px;
    font-weight: 500;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-left: 6%;
}

.subtitulo{
    color: #0a2ff1;
    font-family: "Asap", sans-serif;
    font-size: 52px;
    font-weight: 300;
    margin-top: -2%;
    margin-bottom: 3%;
    padding-left: 6%;
}

.cuerpo {
    color: #04146c;
    font-family: "Asap", sans-serif;
    font-size: 33.3px;
    padding-left: 6%;
}

.sub-dos{
    color: #0a2ff1;
    font-family: "MuseoModerno", sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: -1%;
    padding-left: 6%;
}

.preguntas{
    color: #04146c;
    list-style: disc;
    font-family: "Asap", sans-serif;
    font-size: 33.3px;
    line-height: 2.0;
    padding-left: 7.5%;
}
.modo{
    color: #8a9af1;
    font-family: "MuseoModerno", sans-serif;
    font-size: 198.6px;
    margin-top: 0%;
}

.body{
    background-color: #edf7ff; 
}
